In [1]:
from db_util import get_db
import pandas as pd

db = get_db()
cursor = db.cursor()

In [2]:
# 여러 쿼리문이 들어있는 sqlDB.sql 파일을 읽기
with open('sqlDB.sql', 'r', encoding='utf-8') as f:
    sql_file = f.read()
    sql_querys = sql_file.split(";")

In [3]:
# 각각의 쿼리문 실행
for query in sql_querys:
    query = query.strip()
    if query:
        cursor.execute(query)

In [4]:
db.commit()

In [5]:
sql = "SELECT * FROM usertbl"
df = pd.read_sql(sql, db)
df

/var/folders/7l/yp5d25zx7nb_92wbp8w2b0dw0000gn/T/ipykernel_79297/2085659957.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(sql, db)

  userID name  birthYear addr mobile1  mobile2  height       mDate
0    BBK  바비킴       1973   서울     010  0000000     176  2013-05-05
1    EJW  은지원       1972   경북     011  8888888     174  2014-03-03
2    JKW  조관우       1965   경기     018  9999999     172  2010-10-10
3    JYP  조용필       1950   경기     011  4444444     166  2009-04-04
4    KBS  김범수       1979   경남     011  2222222     173  2012-04-04
5    KKH  김경호       1971   전남     019  3333333     177  2007-07-07
6    LJB  임재범       1963   서울     016  6666666     182  2009-09-09
7    LSG  이승기       1987   서울     011  1111111     182  2008-08-08
8    SSK  성시경       1979   서울    None     None     186  2013-12-12
9    YJS  윤종신       1969   경남    None     None     170  2005-05-05

In [6]:
sql = "SELECT * FROM buytbl"
df = pd.read_sql(sql, db)
df

/var/folders/7l/yp5d25zx7nb_92wbp8w2b0dw0000gn/T/ipykernel_79297/2541138876.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(sql, db)

    num userID prodName groupName  price  amount
0     1    KBS      운동화      None     30       2
1     2    KBS      노트북        전자   1000       1
2     3    JYP      모니터        전자    200       1
3     4    BBK      모니터        전자    200       5
4     5    KBS      청바지        의류     50       3
5     6    BBK      메모리        전자     80      10
6     7    SSK        책        서적     15       5
7     8    EJW        책        서적     15       2
8     9    EJW      청바지        의류     50       1
9    10    BBK      운동화      None     30       2
10   11    EJW        책        서적     15       1
11   12    BBK      운동화      None     30       2

In [7]:
cursor = db.cursor()
sql = "INSERT INTO buytbl (userID, prodName, groupName, price, amount) VALUES('STJ', '운동화', '의류', 30, 2);"
cursor.execute(sql)
db.commit()

IntegrityError: (1452, 'Cannot add or update a child row: a foreign key constraint fails (`sqldb`.`buytbl`, CONSTRAINT `buytbl_ibfk_1` FOREIGN KEY (`userID`) REFERENCES `usertbl` (`userID`))')

In [8]:
cursor = db.cursor()
sql = "INSERT INTO buyTbl (userID, prodName, groupName, price, amount) VALUES('BBK', '운동화', '의류', 30, 2);"
cursor.execute(sql)
db.commit()

In [9]:
db.close()

In [11]:
db = get_db('sqldb')

In [12]:
cursor = db.cursor()
sql = "INSERT INTO userTbl VALUES('STJ', '서태지', 1975, '경기', '011', 'toortoor', 171, '2014-4-4');"
cursor.execute(sql)
db.commit()

In [13]:
sql = "INSERT INTO buyTbl (userID, prodName, groupName, price, amount) VALUES('STJ', '운동화', '의류', 30, 2);"
cursor.execute(sql)
db.commit()

In [14]:
sql = "DELETE FROM userTbl WHERE userID='STJ'"
cursor.execute(sql)
db.commit()

IntegrityError: (1451, 'Cannot delete or update a parent row: a foreign key constraint fails (`sqldb`.`buytbl`, CONSTRAINT `buytbl_ibfk_1` FOREIGN KEY (`userID`) REFERENCES `usertbl` (`userID`))')

In [15]:
db.close()