In [1]:
from db_util import get_db
db = get_db()
cursor = db.cursor()

In [2]:
sql = "DELETE FROM product2 WHERE product_code = '216573151';"
cursor.execute(sql)
db.commit()
db.close()

In [3]:
from db_util import get_db
db = get_db()
cursor = db.cursor()
sql = "SELECT * FROM product2 WHERE product_code = '216573151';"
cursor.execute(sql)
result = cursor.fetchone()
print(result)
db.commit()
db.close()

None