In [1]:
from db_util import get_db
db = get_db()

In [2]:
# 3. 커서 가져오기
cursor = db.cursor()

In [5]:
# SQL Injection 위험:
# SQL 쿼리 문자열을 직접 구성(예: f-string이나 % 연산자 사용)하면 악의적인 SQL 코드가 삽입될 수 있는 보안 취약점이 발생합니다.
# 따라서 아래와 같이 %s 플레이스홀더를 사용하고 execute() 함수의 두 번째 인자로 데이터를 전달하는 파라미터 바인딩 방식을 사용하여 보안을 강화합니다.
# SQL Injection 위험이 있는 예시 (f-string 사용)
# sql = f"INSERT INTO product2 VALUES({product_code}, '상품명', 23000, 6900, 70, 'F');"
# cursor.execute(sql)
# SQLAlchemy와 같은 ORM은 내부적으로 파라미터 바인딩(Parameterized Queries)을 자동으로 수행합니다.
# 개발자가 문자열 포맷팅을 통해 SQL을 직접 생성하는 대신, ORM의 쿼리 빌더나 객체 모델을 사용하면
# 라이브러리가 쿼리 구조와 데이터를 분리하여 데이터베이스 드라이버에 전달합니다.
# 이를 통해 사용자 입력값이 SQL 명령어로 해석되는 것을 방지함으로써 SQL Injection 공격을 원천적으로 차단합니다.

for index in range(10):
    product_code = 416573150 + index + 1
    sql = """INSERT INTO product2 VALUES(
    %s, '스위트바니 여름신상5900원~롱원피스티셔츠/긴팔/반팔', 23000, 6900, 70, 'F'); """
    print (sql)
    cursor.execute(sql, product_code)

INSERT INTO product2 VALUES(
    %s, '스위트바니 여름신상5900원~롱원피스티셔츠/긴팔/반팔', 23000, 6900, 70, 'F');
INSERT INTO product2 VALUES(
    %s, '스위트바니 여름신상5900원~롱원피스티셔츠/긴팔/반팔', 23000, 6900, 70, 'F');
INSERT INTO product2 VALUES(
    %s, '스위트바니 여름신상5900원~롱원피스티셔츠/긴팔/반팔', 23000, 6900, 70, 'F');
INSERT INTO product2 VALUES(
    %s, '스위트바니 여름신상5900원~롱원피스티셔츠/긴팔/반팔', 23000, 6900, 70, 'F');
INSERT INTO product2 VALUES(
    %s, '스위트바니 여름신상5900원~롱원피스티셔츠/긴팔/반팔', 23000, 6900, 70, 'F');
INSERT INTO product2 VALUES(
    %s, '스위트바니 여름신상5900원~롱원피스티셔츠/긴팔/반팔', 23000, 6900, 70, 'F');
INSERT INTO product2 VALUES(
    %s, '스위트바니 여름신상5900원~롱원피스티셔츠/긴팔/반팔', 23000, 6900, 70, 'F');
INSERT INTO product2 VALUES(
    %s, '스위트바니 여름신상5900원~롱원피스티셔츠/긴팔/반팔', 23000, 6900, 70, 'F');
INSERT INTO product2 VALUES(
    %s, '스위트바니 여름신상5900원~롱원피스티셔츠/긴팔/반팔', 23000, 6900, 70, 'F');
INSERT INTO product2 VALUES(
    %s, '스위트바니 여름신상5900원~롱원피스티셔츠/긴팔/반팔', 23000, 6900, 70, 'F');

In [6]:
db.commit() # 입력된 데이터를 db서버에 확정 시키기

In [7]:
db.close()